[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mthd98/the-khana/blob/main/W1/1-Python_Basics.ipynb)

## The Python Interpreter
<a id='interpreter'></a>

Excecution of Python programs is often performed by an **interpreter**, meaning that program statements are converted to machine executable code at **runtime** (i.e., when the program is actually run) as opposed to **compiled** into executable code before it is run by the end user. This is one of the primary ways we'll interact with Python, especially at first. We'll type some Python code and then hit the `Enter` key. This causes the code to be translated and executed. 

Interpretation allows great flexibility (interpreted programs can modify their source code at run time), but it's often the case that interpreted programs run much more slowly than their compiled counterparts. It's also often more difficult to find errors in interpreted programs. 

We can interact with the Python interpreter via a prompt, which looks something like the following.

    (base) C:\Users\nimda>python
    Python 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 10:22:32) [MSC v.190064 bit (AMD64)] on win32
    Type "help", "copyright", "credits" or "license" for more information.
    >>> print("Hello World") # note: this will print something to the screen. 
    Hello World
    >>>

Above, the `print` function prints out a string representation of the argument. The `#` denotes a comment, and the interpreter skips anything on the line after it (that is, it won't try to interpret anything after the `#`). 

Of course, we can save Python code into a program file and execute it later, too. 


### Jupyter Notebooks

We'll also interact with Python using Jupyter Notebooks (like this one). When we hit `Run` in the menu bar, we are performing an action analogous to hitting enter from a command prompt. The code in the active cell will be executed. Users should be aware that though we are intereacting with a Web page, there is a Web server and Python enviroment running behind the scenes. This adds a later of complexity, but the ability to mix well-formatted documentation and code makes using Jupyter Notebook worthwhile.


<a id='variables'></a>
## Python Identifiers and Variables

### Identifiers

An **identifier** in Python is a word (a string) used to identify a variable, function, class, etc. in a Python program. It can be thought of as a proper name. Identifiers start with a letter (a-Z) or an underscore `_`; this first character is followed by a sequence of letters numbers, and underscores.

Certain identifiers, such as `class` or `if` are builtin keywords and cannot be redefined by users. 

### Variables

As in most programming languages, **variables** play a central role in Python. We need a way to store and refer to data in our programs, and variables are the primary way to do this.  Specifically, we assign data values variables using the `=`. After the assignment has been made, we may use the variable to access the data as many times as we like. 

In general, the righthand side of an assignment is evaluated first (e.g., 1+1 is evaluated to 2), and afterwards the result is stored in the variable specified on the left. That explains why the last line below results in a value of 6 being printed. On evaluation of the righthand side, the current value of `blue_fish` (3) is added to itself, and the resulting value is assigned to `blue_fish`, overwriting the 3.

In [ ]:
one_fish = 1
two_fish = one_fish + 1
blue_fish = one_fish + two_fish
print(one_fish)
print(two_fish)
print(blue_fish)
blue_fish = blue_fish + blue_fish
print(blue_fish)

1
2
3
6

### Dynamic Typing

Note that no data type (e.g., integer, string) is specified in an assignment, even the first time a variable is used. In general, variables and types are *not* declared in Python before a value is assigned. Python is said to be a **dynamically typed** language. 

The below code is perfectly fine in Python, but assigning a number and then a string in another lanauge such as Java would cause an error.

In [ ]:
a = 1
print(a)
a = "hello"
print(a)

1
hello

## Data Types
<a id='datatypes'></a>

As in most programming languages, each data value in a Python program has a **data type** (even though we typically don't specify it). We'll discuss some of the datatypes here. 

For a given data value, we can get its type using the `type` function, which takes an argument. The below print expressions show several of the built-in data types (and how literal values are parsed by default).

In [ ]:
print(type(1))  # an integer
print(type(2.0)) # a float
print(type("hi!")) # a string
print(type(True)) # a boolean value 
print(type([1,2,3,4,5])) # a list (a mutable collection)
print(type((1,2,3,4,5))) # a tuple (an immutable collection)
print(type({"fname":"john", "lname":"doe"})) # a dictionary (a collection of key-value pairs)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

<a id='numbers'></a>
### Numbers

The basic numerical data types of python are:
*  `int` (integer values), 
*  `float` (floating point numbers), and 
*  `complex` (complex numbers).

In [ ]:
x = 1
y = 1.0
z = 1 + 2j
w = 1E10
v = 1.
u = 2j
print(type(x), ": ", x)
print(type(y), ": ", y)
print(type(z), ": ", z)
print(type(w), ": ", w)
print(type(u), ": ", v)
print(type(u), ": ", u)

<class 'int'> :  1
<class 'float'> :  1.0
<class 'complex'> :  (1+2j)
<class 'float'> :  10000000000.0
<class 'complex'> :  1.0
<class 'complex'> :  2j

In general, a number written as a simply integer will, unsurprisingly, be interpreted in Python as an `int`.

Numbers written using a `.` or scientific notation are interpreted as floats. Numbers written using `j` are interpreted as complex numbers.

**NOTE**: Unlike some other languages, Python 3 does not have minimum or maxium integer values (Python 2 does, however). 

<a id='arithmetic'></a>
### Arithmetic

The arithmetic operations available in most languages are also present in Python (with a default precedence on operations).

In [ ]:
1+3-(3-2) # simple addition and subtraction

3

In [ ]:
4*2.0 # multiplication of an int and a float (yields a float)

8.0

In [ ]:
5/2 # floating point division

2.5

In [ ]:
print(5.6//2) # integer division
print(type(5.6//2))

2.0
<class 'float'>

In [ ]:
5 % 2 # modulo operator (straightforwardly, the integer remainder of 5/2)

1

In [ ]:
2 % -5 # (not so intuitive if negative numbers are involved)

-3

In [ ]:
2**4 # exponentiation

16

### Data Type of results

When two numbers of different types are used in an arithmetic operation, the data type is usually what one would expect, but there are some cases where it's different than either operand. For instance, though 5 and 2 are both integers, the result of `5/2` is a `float`, and the result of `5.2//2` (integer division) is a float.

### Strings
<a id='strings'></a>
Strings in Python (datatype `str`) can be enclosed in single (`'`) or double (`"`) quotes. It doesn't matter which is used, but the opening and closing marks must be of the same type. The backslash `\` is used to escape quotes in a string as well as to indicate other escape characters (e.g., `\n` indicates a new line). Upon printing, the string is formatted appropriately.

In [ ]:
print("This is a string")
print('this is a string containing "quotes"')
print("this is another string containing \"quotes\"")
print("this is string\nhas two lines")

This is a string
this is a string containing "quotes"
this is another string containing "quotes"
this is string
has two lines

To prevent processing of escape characters, you can use indicate a *raw* string by putting an `r` before the string.

In [ ]:
print(r"this is string \n has only one line")

this is string \n has only one line

#### Multiline Strings
Multiline strings can be delineated using 3 quotes. If you do not wish to include a line end in the output, you can end the line with `\`.

In [ ]:
print("""Line 1
Line 2
Line 3\
Line 3 continued""")

Line 1
Line 2
Line 3Line 3 continued

#### String Concatenation 
Strings can be concatenated. You must be careful when trying to concatenate other types to a string, however. They must be 
converted to strings first using `str()`.

In [ ]:
print("This" + " line contains " + str(4) + " components")
print("Here are some things converted to strings: " + str(2.3) + ", " + str(True) + ", " + str((1,2)))

This line contains 4 components
Here are some things converted to strings: 2.3, True, (1, 2)

`print` can take an arbitrary number of arguments. Leveraging this eliminates the need to explicitly convert data values to strings (because we're no longer attempting to concatenate strings).

In [ ]:
print("This" , "line contains" , 4, "components")
print("Here are some things converted to strings:", 2.3, ",", True, ",", (1,2))

This line contains 4 components
Here are some things converted to strings: 2.3 , True , (1, 2)

Note, however, that `print` will by default insert a space between elements. If you wish to change the separator between items (e.g., to `,`) , add `sep=","` as an argument.

In [ ]:
print("This" , "line contains" , 4, "components", sep="---")
print("Here are some things converted to strings:", 2.3, ",", True, ",", (1,2),sep="---")

This---line contains---4---components
Here are some things converted to strings:---2.3---,---True---,---(1, 2)

You can also create a string from another string by *multiplying* it with a number

In [ ]:
word1 = "abba"
word2 = 3*word1
print(word2)

abbaabbaabba

Also, if multiple **string literals** (as opposed to variables or string expressions) appear consecutively, they will be combined into one string.

In [ ]:
a = "this " "is " "the " "way " "the " "world " "ends."
print(a)
print(type(a))
a = "this ","is ", "the ", "way ", "the ", "world ", "ends."
print(a)
print(type(a))

this is the way the world ends.
<class 'str'>
('this ', 'is ', 'the ', 'way ', 'the ', 'world ', 'ends.')
<class 'tuple'>

#### Substrings: Indexing and Slicing

A character of a string can be extracted using an index (starting at 0), and a substring can be extracted using **slices**. Slices indicate a range of indexes. The notation is similar to that used for arrays in other languages.

It also happens that indexing from the right (staring at -1) is possible.

In [ ]:
string1 = "this is the way the world ends."
print(string1[12]) # the substring at index 12 (1 character).
print(string1[0:4]) # from the start of the string to index 4 (but 4 is excluded).
print(string1[5:]) # from index 5 to the end of the string.  
print(string1[:4]) # from the start of the string to index 4 (exclusive).
print(string1[-1]) # The last character of the string. 
print(string1[-5:-1]) # from index -5 to -1 (but excluding -1).
print(string1[-5:]) # from index -5 to the end of the string.

w
this
is the way the world ends.
this
.
ends
ends.

**NOTE**: Strings are **immutable**. We cannot reassign a character or sequence in a string as we might assign values to an array in some other programming languages. When the below code is executed, an exception (error) will be raised.

In [ ]:
a = "abc"

In [ ]:
a[0] = "b" # this will raise an exception.

TypeError: ignored

#### Splitting and Joining Strings

It's often the case that we want to split strings into multiple substrings, e.g., when reading a comma-delimited list of values. The `split` method of a string does just that. It retuns a list object (lists are covered later). 

To combine strings using a delimeter (e.g., to create a comma-delimited list), we can use `join`.

In [ ]:
text = "The quick brown fox jumped over the lazy dog"
spl = text.split() # This returns a list of strings (lists are covered later)
print(spl)
joined = ",".join(spl)
print(joined) # and this re-joins them, separating words with commas 
spl = joined.split(",") # and this re-splits them, again based on commas
print(spl)
joined = "-".join(spl) # and this re-joins them, separating words with dashes 
print(joined)

['The', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']
The,quick,brown,fox,jumped,over,the,lazy,dog
['The', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']
The-quick-brown-fox-jumped-over-the-lazy-dog

Similarly, to split a multiline string into a list of lines (each a string), we can use `splitlines`.

In [ ]:
lines = """one
two
three"""
li = lines.splitlines();
print(li)

['one', 'two', 'three']

To join strings into multiple lines, we can again use `join`.

In [ ]:
lines = ["one", "two","three"]
data = "\n".join(lines)
print(data)

one
two
three

<a id='boolean'></a>
## Boolean Values, and None

Python has two Boolean values, `True` and `False`. The normal logical operations (`and`, `or`, `not`) are present.

In [ ]:
print(True and False)
print(True or False)
print(not True)

False
True
False

There is also the value `None` (the only value of the `NoneType` data type). `None` is used to stand for the absence of a value. However, it can be used in place of False, as can zero numerical values (of any numerical type), empty sequences/collections (`[]`,`()`, `{}`, etc.).  

Other values are treated as `True`. Note that Boolean expressions are short-circuited. As soon as the interpreter knows enough to compute the appropriate Boolean value of the expression, it stops further evaluation. Also, the retun value of the Boolean expression need not be a Boolean value, as indicated below. The value of the last item evaluated is returned.

In [ ]:
print(1 and True)
print(True and 66)
print(True and "aa")
print(False and "aa")
print(True or {})
print(not [])
print(True and ())

True
66
aa
False
True
True
()

<a id='comparisons'></a>
## Boolean Comparisons

There are 8 basic comparison operations in Python.


|  Symbol | Note | 
| --- | --- |
| `<` |  less than | 
| `<=` | less than or equal to | 
| `>` | greater than | 
| `>=` | greater than or equal to | 
| `==` | equal to | 
| `!=` | not equal to | 
| `is` | identical to (for objects) | 
| `is not` | not identical to (for objects) | 


Regarding the first 6, these will work as expected for numerical values. Note, however, that they can be applied to other datatypes as well. Strings are compared on a character-by-character basis, based on a lexicographic ordering. Sequences such as lists are compared on an element by element basis.

In [ ]:

print("abc" > "ac")
print("a" < "1")
print("A" < "a")
print((1,1,2) < (1,1,3))

False
False
True
True

Note that `is` is true only if the two items compared are the *same* object, whereas `==` only checks for eqaulity in a weaker sense. Below, the elements of the two lists `x` and `y` have elements that evaluate as being equal, but the two lists are nevertheless distinct in memory. As such, the first `print` statement should yield `True`, while the second should yield `False`.

In [ ]:
x = (1,1,2)
y = (1,1,2)
print(x == y)
print(x is y)

True
False

In [ ]:
x = "hello"
y = x
a = "hel"
b = "lo"
z = a + b
w = x[:]
print(x)
print(y)
print(z)
print("x==y: ", x==y)
print("x==z: ", x==z)
print("x is y: ", x is y)
print("x is z: ", x is z)
print("x is w: ", x is w)

hello
hello
hello
x==y:  True
x==z:  True
x is y:  True
x is z:  False
x is w:  True

### The `id()` function

The `id()` function can be used to identify an object in memory. It returns an integer value that is guaranteed to uniquely identify an object for the duration of its existence.

In [ ]:
print("id(x): ", id(x))
print("id(y): ", id(y))
print("id(z): ", id(z))
print("id(w): ", id(w))

id(x):  140539018862384
id(y):  140539018862384
id(z):  140538951488880
id(w):  140539018862384

<a id="conversions"></a>
## Converting between Types

Values of certain data types can be converted to values of other datatypes (actually, a new value of the desired data type is produced). If the conversion cannot take place (becuase the datatypes are incompatible), an exception will be raised.

In [ ]:
x = 1
s = str(x) # convert x to a string
s_int = int(s)
s_float = float(s)
s_comp = complex(s)
x_float  = float(x)

print(s) 
print(s_int) # convert to an integer
print(s_float) # convert to a floating point number
print(s_comp) # convert to a complext number
print(x_float)

# Let's check their IDs
print(id(x))
print(id(s))
print(id(s_int))
print(id(s_float))
print(id(x_float))
print(id(int(x_float)))

1
1
1.0
(1+0j)
1.0
93926537898496
140538951529264
93926537898496
140538952028656
140538952028464
93926537898496

# Lists,Tuples, Sets, and Dictionaries


<h2 id="tocheading">Table of Contents</h2>
<div id="toc"></div>

<a id='lists'></a>
## Lists 

Many languages (e.g., Java) have what are often called **arrays**. In Python the object most like them are called **lists**. Like arrays in other languages, Python lists are represented syntactically using `[...]` blocks. Their elements can be referenced via indexes, and just like arrays in other languages, Python lists are **mutable** objects. That is, it is possible to change the value of an individual cell in a list.  In this way, Python lists are unlike Python strings (which are immutable).

In [ ]:
a = [0, 1, 2, 3] #  a list of integers
print(a)
a[0] = 3 # overwrite the first element of the list
print(a)
a[1:3] = [4,5]; #overwrite the last two elements of the list (using values from a new list)
print(a)

[0, 1, 2, 3]
[3, 1, 2, 3]
[3, 4, 5, 3]

Note that some operations on lists return other lists.

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = a + b  
print(a)
print(b)
print(c)
print("-"*25)
c[0] = 10
b[0] = 40
print(a)
print(b)
print(c)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
-------------------------
[1, 2, 3]
[40, 5, 6]
[10, 2, 3, 4, 5, 6]

Above, `c` is a new list containing elements copied from `a` and `b`. Subsequent changes to `a` or `b` do not affect `c`, and changes to `c` do not affect `a` or `b`. 

The length of a list can be obtained using `len()`, and a single element can be added to a list using `append()`. Note the syntax used for each.

In [ ]:
a = []
a.append(1) # add an element to the end of the list. 
a.append(2)
a.append([3,4])
print(a)
print("length of 'a': ", len(a))

[1, 2, [3, 4]]
length of 'a':  3

Some additional list operations are shown below. Pay careful attention to how `a` and `b` are related.

In [ ]:
a = [10]
a.extend([11,12]) # append elements of one list to the end of another one. 
b = a
c = a.copy() # copy the elements of a to a new list, and then assign it to c. 
b[0] = 20 
c[0] = 30
print("a:", a)
print("b:", b)
print("c:", c)

a: [20, 11, 12]
b: [20, 11, 12]
c: [30, 11, 12]

In [ ]:
b.reverse() # reverse the elements of the list in place. 
print("a reversed:", a) 
b.sort()
print("a sorted:", a) 
a.clear() # empty the list
print("b is ", b, " having length ", len(b))

a reversed: [12, 11, 20]
a sorted: [11, 12, 20]
b is  []  having length  0

In [ ]:
list1 = ["a", "b", "d", "e"]
list1.insert(2, "c") #insert element "c" at position 2, increasing the length by 1. 
print(list1)
e = list1.pop() # remove the last element of the list. 
print("popped: ", e, list1)
list1 = ["d", "b", "b", "c", "d", "d", "a"]
list1.sort() # sort the list
print("new list, sorted:", list1)
print("count of 'd': ", list1.count("d")) # count the number of times "d" occurs
print("first index of 'd': ", list1.index("d")) # return the index of the first occurrence of "d"
print(list1)
del list1[2] # remove the element at index 2
print("ele at index 2 removed:", list1)
del list1[2:4] # remove the elements from index 2 to 4. 
print("elements at index 2-4 removed:",list1)

['a', 'b', 'c', 'd', 'e']
popped:  e ['a', 'b', 'c', 'd']
new list, sorted: ['a', 'b', 'b', 'c', 'd', 'd', 'd']
count of 'd':  3
first index of 'd':  4
['a', 'b', 'b', 'c', 'd', 'd', 'd']
ele at index 2 removed: ['a', 'b', 'c', 'd', 'd', 'd']
elements at index 2-4 removed: ['a', 'b', 'd', 'd']

<a id='tuples'></a>
## Tuples

There also exists an immutable counterpart to a list, the **tuple**.  Elements can also be referenced by index, but (as with Python strings) new values cannot be assigned. Unlike a list, Tuples are created using either `(...)` or simply by using a comma-delimeted sequence of 1 or more elements.

In [ ]:
a = () # the empty tuple
b = (1, 2) # a tuple of 2 elements
c = 3, 4, 5 # another way of creating a tuple. 
d = 6, # a singleton tuple
e = (7,) # another singleton tuple
print(a)
print(b)
print(c)
print(d) 
print(len(d))
print(e)
print(b[1])

()
(1, 2)
(3, 4, 5)
(6,)
1
(7,)
2

As with lists, we can combine tuples to form new tuples

In [ ]:
a = (1,2,3,4)
b = "x", "y", "z"
c = a[0:3] + b
print(c)

(1, 2, 3, 'x', 'y', 'z')

<a id='sets'></a>
## Sets

Sets, created using `{...}` or `set(...)` in Python, are unordered collections without duplicate elements. If the same element is added again, the set will not change.

In [ ]:
a = {'a','b', 'c', 'd'} # create a new set containing these elements
b = set('hello world') # create a set containing the distinct characters of 'hello world'
print(a) 
print(b)
print(a | b) # print the union of a and b. 
print(a & b) # print the intersection of a and b.
print(a - b) # print elements of a not in b
print(b - a) # print elements of b not in a.
print(b ^ a) # print elements in either but not both.

{'a', 'd', 'c', 'b'}
{'l', 'r', 'w', 'e', 'd', 'h', ' ', 'o'}
{'l', 'b', 'c', 'r', 'w', 'e', 'd', 'h', ' ', 'a', 'o'}
{'d'}
{'a', 'c', 'b'}
{'l', 'r', 'w', 'e', 'h', ' ', 'o'}
{'l', 'b', 'c', 'r', 'w', 'e', 'h', ' ', 'a', 'o'}

Given the below, it appears that `==` is used to evaluate membership.

In [ ]:
a = "hello"
b = "hel"
c = "lo"
d = b + c
s = {a,b,c,d}
print("id(a):", a)
print("id(d):", d)
print(s)

id(a): hello
id(d): hello
{'lo', 'hel', 'hello'}

<a id='dictionaries'></a>
## Dictionaries

Dictionaries are collections of key-value pairs. A dictionary can be created using `d = {key1:value1, key2:value2, ...}` syntax, or else from 2-ary tuples using `dictionary()`. New key value pairs can be assigned, and old values referenced, using `d[key]`.

In [ ]:
employee = {'last':'smth', 'first':'joe'} 
employee['middle'] = 'william'
employee['last'] = 'smith'
addr = {} # an empty dictionary
addr['number'] = 1234 
addr['street'] = "Elm St"
addr['city'] = "Athens"
addr['state'] = "GA"
addr['zip'] = "30602"
employee["address"] = addr
print(employee)
keys= list(employee.keys()) # list the keys of 'employee'
print("keys: " + str(sorted(keys)))
print('last' in keys) # Print whether 'last' is in keys or not (prints True or False)
print('lastt' in keys) # Print whether 'lastt' is in keys or not (prints True or False)

employee2 = employee.copy() # create a shallow copy of the employee
employee2["last"] ="jones" 
employee2["address"]["street"] ="beech" # reassign the street name of the employee's address. 
print(employee)
print(employee2)

{'last': 'smith', 'first': 'joe', 'middle': 'william', 'address': {'number': 1234, 'street': 'Elm St', 'city': 'Athens', 'state': 'GA', 'zip': '30602'}}
keys: ['address', 'first', 'last', 'middle']
True
False
{'last': 'smith', 'first': 'joe', 'middle': 'william', 'address': {'number': 1234, 'street': 'beech', 'city': 'Athens', 'state': 'GA', 'zip': '30602'}}
{'last': 'jones', 'first': 'joe', 'middle': 'william', 'address': {'number': 1234, 'street': 'beech', 'city': 'Athens', 'state': 'GA', 'zip': '30602'}}

<a id="conversions"></a>
## Conversion Between Types

In [ ]:
y = (1,2,3,1,1)
z = list(y) # convert tuple to a list
print(y) 
print(z) 
print(tuple(z)) # convert z to a tuple
print(set(z)) # convert z to a set

w = (("one", 1), ("two", 2), ("three", 3))
v = dict(w)
print(v)
print(tuple(v))
print(tuple(v.keys()))
print(tuple(v.values()))

(1, 2, 3, 1, 1)
[1, 2, 3, 1, 1]
(1, 2, 3, 1, 1)
{1, 2, 3}
{'one': 1, 'two': 2, 'three': 3}
('one', 'two', 'three')
('one', 'two', 'three')
(1, 2, 3)

# Functions

<h2 id="tocheading">Table of Contents</h2>
<div id="toc"></div>

<a id='basic'></a>
## General Syntax of Functions

Below is the definition of a small Python **function** that takes two numbers as arguments and returns their squared difference. 

A function declaration begins with the `def` keyword, followed by the function name and a list of 0 or more arguments enclosed in parentheses. Note a colon `:` follows the argument list.  There is also an optional string that can be used for generating documentation (a *docstring*) This function returns a value (using `return`), but not all functions have explicit return statements.

In [ ]:
def squared_diff(a, b):
    """A trivial arithmetic function"""
    temp = (a - b)
    return temp*temp

Once defined, the function can be invoked any number of times.

In [ ]:
print(squared_diff(5,1))
print(squared_diff(3,6))

16
9

### Indenting the Function Body

Note that the body of the function is indented. This is what separates the function from the rest of the program in which it is defined. More generally, indentation is used to delineate blocks of code. The exact amount of indentation is not important (4 spaces is typical), but it must be the same amount for each line of the block.

Note that a variable (such as `temp` in the above example) first used in the body of a function cannot be accessed outside the scope of the function body. The memory used for `temp` is reclaimed after the function invocation is complete. The same holds for the variables used as arguments. They are *local* to the function invocation. 

Once defined, the function's name can be used to assign the function to a variable. The variable serves as an alias.

In [ ]:
sd = squared_diff
print(sd(5,1))

16

A function without a return statement (or an empty one) does in fact return a value, `None`.

In [ ]:
def trivial():
    print("How Many?")
print(trivial())

How Many?
None

<a id='nesting'></a>
## Nested Functions

It's possible to define functions within other functions, and even assign the function to a variable (thereby creating an alias for it). In the below example, `outer` actually returns a new function, created from argument `a`. The new function is assigned to `y` and then invoked.

In [ ]:
def outer(a):
    def inner(b): 
        return a + b
    x = inner
    return x
y = outer(2)
print(y(3))

5

<a id='defaults'></a>
## Default Values

Functions can be defined to allow a variable number of arguments. One way of doing this is to use default values as indicated below

In [ ]:
def f1(a=1, b=2, c=3):
    return a+b+c;
print(f1()) # returns 6
print(f1(2)) # returns 7
print(f1(1,4)) # returns 8
print(f1(3,4,2)) #returns 9

6
7
8
9

The use of compound objects as default values requires special attention. The default value is only evaluated once, at the time the function is defined rather than invoked. And so, it is possible to change the state of the object with successive function invocations.

In [ ]:
def f2(ele, thelist = []):
    thelist.append(ele)
    return thelist

f2(1)
f2(2)
result = f2(3)
print(result)
print(f2(4,[]))

[1, 2, 3]
[4]

<a id='keywords'></a>
## Keyword Arguments

Key value pairs can also be used as arguments, both in the definition of the function *and its invocation*. This permits arguments to be referenced by name. When invoked in this fashion, the order of the arguments does not matter. 

Note that if key-value pairs are only used for some arguments, they must appear *after* all positional arguments.

In [ ]:
def f3(a, b=2, c=3):
    print(  ' a = ' + str(a) +
            ' b = ' + str(b) +
            ' c = ' + str(c))

f3(0)
f3(3,2,1)
f3(b=2,a=1,c=3)
f3(4,c=6,b=5)

 a = 0 b = 2 c = 3
 a = 3 b = 2 c = 1
 a = 1 b = 2 c = 3
 a = 4 b = 5 c = 6

<a id='variable_arguments'></a>
## Variable Argument Lists

In a function definition, a formal argument of the form `*variablename` will collect all optional positional arguments and put them into a list. Similarly, a formal argument of the form `**variablename` will collect all optional keyword arguments and put them into a dictionary.

In [ ]:
def f4(arg1, arg2, *more_positional_args, c = 10, **keyword_args):
    print(arg1)
    print(arg2)
    print(more_positional_args)
    print(c)
    print(keyword_args)

f4(1,2,3,4,a=5,b=6,c = 7)

print('*'*20)
x = (1,2,3,4)
y = {'a':'b', 'c':'d'}
f4(*x,**y)

1
2
(3, 4)
7
{'a': 5, 'b': 6}
********************
1
2
(3, 4)
d
{'a': 'b'}

<a id='anonymous'></a>
## Anonymous functions

An anoymous function can be created with a `lambda` expression. Note that a function defined via a lambda expression does not have a return statement. Instead, it contains a single statement (written on the same line) whose evaluated value is used as the return statement.

In [ ]:

def f5(a):
    x = lambda b: b**a
    return x; 
sq = f5(2)
print(sq(3))
cu = f5(3)
print(cu(4))

9
64

<a id='scope'></a>
## Note about scope

In the written program, where a variable is defined plays an important role when creating functions, particulaly when anonymous functions are created. Below, the variable `a` is defined `outside` of the function definition but is referenced inside of it. 

Below, in the body of `f6`, local variable `b` is assigned the value of `a`, which again is defined outside of the function. When `f6()` is invoked, the current value of `a` (20) is used, *not* the value of `a` that existed when the function was originally defined.

In [ ]:
a = 10
def f6():
    b = a
    print(a)
    print(b)
a = 20
f6()

20
20

Something similar happes in the definition of the anymous function created by `f7`. Below, `e` is referenced in the anonymous function, but it is defined elsewhere. Whenever the anonymous function is invoked, the current value of `e` is used.

In [ ]:
e = 2
def f7():
    x = lambda b: b**e
    return x;
exp = f7();
print(exp(5))
e = 3
print(exp(5))

25
125

In [ ]:
e = 2
def f8():
    temp = e
    x = lambda b: b**temp
    return x;
exp = f8();
print(exp(5))
e = 3
print(exp(5))

25
25

# Namespaces and Scope

<h2 id="tocheading">Table of Contents</h2>
<div id="toc"></div>

<a id='namespaces'></a>
## Namespaces

When we define a function, the the variables used as arguments to the function (the so-called *formal parameters*) and variables that are defined within the body of the function are all local to that function. Each time the function is invoked, a new **namespace** with associated **symbol table** is created. It is local to that function invocation and maps variable names to values. The same indentifier might be written elsewhere in the program (e.g., in another function definition), but the two occurrences are completely separate. They denote separate variables, for instance, and so changing the value of one does not affect the other. 

Note that functions are defined within a larger program context, and so namespaces can be nested. When a variable is referenced in the body of a function,  the local symbol table is first examined. If the the variable name is not found, then the enclosing namespace is examined. This is repeated until the **global namespace** is reached. 

In contrast, if an assignment to a variable appears in the function body, the variable is inferred to be local. This can potentially cause problems, as indicated in `f3` below.

In [ ]:
a = "1"

def f1():
    a = "2"
    print("f1 a: ", a)

def f2():
    print("f2 a: ", a)
    
f1()
f2()
print("non-function a: ",a)

a = "10"

f1()
f2()
print("non-function a: ", a)

f1 a:  2
f2 a:  1
non-function a:  1
f1 a:  2
f2 a:  10
non-function a:  10

In [ ]:
# Why is this problematic?
def f3():
    print("first f3 a: " + a) 
    a = "3"
    print("second f3 a: " + a)
    
# f3()

In the above definition of `f3`, an assignment for `a` appears within the function body, and so the variable is inferred to be local. However, it is actually referenced in the print line before the assignment occurs. This will raise an exception, as would attempting to use a variable before it is assigned.

## Examples of namespaces

Several namespaces exist, not just the ones user create when defining functions. 

*  `builtins`: for builtin Python functions, created at start-up of the interpreter. 
*  `__main__`: the top-level namespace for the interpreter. 
*  global namespace for each module: created when the module is first read in. 
*  function invocation namespaces: created when the function is invoked and deleted upon exit.

<a id='scope'></a>
## Scope

**Scope** refers to the textual area of a program where a variable can be directly accessed. Using  the keywords `global` or `nonlocal`, it's possible to access variables existing in a different scope. 

Below is a slightly modified example taken from the [Python Tutorial](https://docs.python.org/3/tutorial/classes.html#scopes-and-namespaces-example)

In [ ]:
# Level 1
spam = "global spam" # global space

def scope_test():
    
    # Level 2
    spam = "scope_test spam" # local to scope_test
  
    def do_local():
        # Level 3
        spam = "do_local spam" # local to do_local

    def do_nonlocal():
        nonlocal spam  # spam refers to enclosing scope (scope_test)
        spam = "scope_test spam modified"

    def do_global():
        global spam # spam refers to global scope
        spam = "global spam modified"

    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)

scope_test()
print("In global scope:", spam)

After local assignment: scope_test spam
After nonlocal assignment: scope_test spam modified
After global assignment: scope_test spam modified
In global scope: global spam modified

Above, the call to `do_local()` changes the value of `spam` local to that function (denoted here, *Level 3*). The call to `do_nonlocal()`, however, changes that value at *Level 2*. And the call to `do_global()` changes it at the outermost level (*Level 1*). 

`global` allows one to change the values of variables not defined in any function, while `nonlocal` permits one to change values of variables in the enclosing context.

# Controlling the Flow of Program Execution

As in most programing languages, Python allows program execution to branch when certain conditions are met, and it also allows arbitrary execution loops. Without such features, Python would not be very useful (or Turing complete). 

<h2 id="tocheading">Table of Contents</h2>
<div id="toc"></div>

## If Statements

In Python, *if-then-else* statements are specified using the keywords `if`, `elif` (else if), and `else` (else).  The general form is given below: 

    if condition1:
        do_something
    elif condition2:
        do_something_else
    ...
    elif condition_n:
        do_something_else
    else:
        if_all_else_fails_do_this

The `elif` and  `else` clauses are optional. There can be many `elif` clauses, but there can be only 1 `else` clause in the `if`-`elif`-`else` sequence.

In [ ]:
def number_test(x):
    if x > 10:
        print("value " + str(x) + " is greater than 10")
    elif x >= 7 and x < 10:
        print("value " + str(x) + " is in range [7,10)")
    elif x >= 5 and x < 7:
        print("value " + str(x) + " is in range [5,7)")
    else:
        print("value " + str(x) + " is less than 5")

number_test(3)
number_test(5)
number_test(8)
number_test(13)

value 3 is less than 5
value 5 is in range [5,7)
value 8 is in range [7,10)
value 13 is greater than 10

## While Loops

Python provides both `while` loops and `for` loops. The former are arguably lower-level but not as natural-looking to a human eye. 

Below is a simple `while` loop. So long as the condition specified evaluates to a value comparable to `True`, the code in the body of the loop will be executed. As such, without the statement incrementing `i`, the loop would halt.

In [ ]:
string = "hello world"
length = len(string)
i = 0 
while i < length:
    print(string[i])
    i = i + 1

h
e
l
l
o

w
o
r
l
d

Loops, including `while` loops, can contain `break` statements (which aborts execution of the loop) and `continue` statements (which tell the loop to proceed to the next cycle).

In [ ]:

def member(string, element):
    length = len(string)
    i = 0 
    while i < length:
        if(string[i] == element):
            break
        i = i + 1
    if(i != length):
        print("found '" + element + "' in '" + string + "'")
        return True
    else:
        print("could not find '" + element + "' in '" + string + "'")
        return False 

def count(string, element):
    length = len(string)
    i = 0 
    counter = 0; 
    while i < length:
        if(string[i] != element):
            i = i + 1
            continue
        counter = counter + 1
        i = i + 1
    return counter 
    
member("hello world!", "r")
member("hello world!", "z")
print("occurrences of 'l': " + str(count("hello world!", "!")))

found 'r' in 'hello world!'
could not find 'z' in 'hello world!'
occurrences of 'l': 1

Below we sort a string, identifying its unique members. Then we use a `while` loop together with the previously defined `count` function to count the occurrences of each character.

In [ ]:
def unique_characters(raw_string):
    # instead of set(raw_string), we'll create the set iteratively
    # returning its characters as a sorted list
    result = set(); 
    i = 0
    while i < length:
        result.add(raw_string[i])
        i = i + 1
    return sorted(list(result))
    
def character_count(raw_string):
    sorted_string = unique_characters(raw_string)
    length = len(sorted_string)
    i = 0
    result = []; 
    while i < length:
        result.append((sorted_string[i], count(raw_string, sorted_string[i])))
        i = i + 1
    return result

print(character_count("hello world"))

[(' ', 1), ('d', 1), ('e', 1), ('h', 1), ('l', 3), ('o', 2), ('r', 1), ('w', 1)]

It turns out that as far as loops and evaluating the truth of conditional statements are concerned, a great many values and not just `True` and `False` will suffice. E.g., nonzero numbers, or nonempty strings or lists will be taken as `True`, and 0 and empty lists, etc., will be taken as `False`.

In [ ]:
def cond_test(x,s):
    count = 0
    print(x,":",end="")
    while x:
        print(s,end="")
        count = count + 1
        if count > 3:
            break
    print("")

cond_test(True,"a")
cond_test(1,"b")
cond_test([6],"c")
cond_test(("hello"),"c")
cond_test("world","c")
cond_test(False,"a")
cond_test(0,"a")
cond_test([],"a")
cond_test({},"a")
cond_test("","a")

True :aaaa
1 :bbbb
[6] :cccc
hello :cccc
world :cccc
False :
0 :
[] :
{} :
 :

## For Loops and the Range function

In Python, `for` statements iterate over sequences and utilize the `in` keyword. Like `while` loops, `for` loops can contain `break` and `continue`. They can also contain `else` statements; these are executed when the loop ends via something other than `break`).

In [ ]:
raw_string = "hello world"
characters = set(raw_string)
for w in characters:
    print(w, ',', raw_string.count(w))

l , 3
r , 1
w , 1
e , 1
d , 1
h , 1
  , 1
o , 2

The `range()` function can be used to generate a sequence of numbers, which can then be used in a loop.

In [ ]:
x = range(11)
for i in x:
    print(i, i*i)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

Minimum and maximum (exlcusive) values can also be specified, as can an integer step-size.

In [ ]:
x = range(20,31,2)
for i in x:
    print(i)

20
22
24
26
28
30

#Python Classes/Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

##Create a Class
To create a class, use the keyword class:

In [ ]:
class MyClass:
  x = 5

##Create Object
Now we can use the class named MyClass to create objects:

In [ ]:
#Create an object named p1, and print the value of x:

p1 = MyClass()
print(p1.x)

5

##The __init__() Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
#Create a class named Person, use the __init__() function to assign values for name and age:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)
p2=Person('ali',40)

print(p1.name)
print(p1.age)
print('*'*40)
print(p2.name)
print(p2.age)

#Note: The __init__() function is called automatically every time the class is being used to create a new object.

John
36
****************************************
ali
40

##Object Methods
Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()
#Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

Hello my name is John

##The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

##Modify Object Properties
You can modify properties on objects like this:

In [ ]:
p1.age = 40

##Delete Object Properties
You can delete properties on objects by using the del keyword:

In [ ]:
del p1.age

In [ ]:
p1.age

AttributeError: ignored

##Delete Objects
You can delete objects by using the del keyword:

In [ ]:
del p1

##The pass Statement
class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
class Person:
  pass

#Iterators
Python Iterators
An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

##Iterator vs Iterable
Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

Even strings are iterable objects, and can return an iterator:

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

##Looping Through an Iterator
We can also use a for loop to iterate through an iterable object:

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

#The for loop actually creates an iterator object and executes the next() method for each loop.

apple
banana
cherry

##Create an Iterator
To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.

As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.

The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

The __next__() method also allows you to do operations, and must return the next item in the sequence.

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5